<div class="container table-bordered">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2"><b>Name</b></div>
      <div class="col-sm-8">{{ profile.name }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-2">Email</div>
      <div class="col-sm-8">{{ profile.email }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-2">Contact</div>
      <div class="col-sm-8">{{ profile.phoneNumber }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-2">Stories Added</div>
      <div class="col-sm-8">{{ profile.storyCount }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-2">Poll Count</div>
      <div class="col-sm-8">{{ profile.pollCount }}</div>
    </div>
  </div>
</div>
