<div class="container">
  <div class="card" style="width: 50rem;" *ngFor="let item of stories">
    <img
      class="card-img-top"
      [src]="getFileUrl(item.imageUrl)"
      alt="Card Image"
    />
    <div class="card-body">
      <div class="row">
        <div class="card-title col-sm-10">
          <b>{{ item.heading }}</b>
        </div>
        <button
          class="btn btn-primary col-sm-2"
          [disabled]="!loggedIn"
          (click)="addBookMark(item._id)"
        >
          Bookmark
        </button>
      </div>
      <p class="card-text">{{ item.detail }}</p>
    </div>
  </div>
</div>
