/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dosis');
body {
  font-family: 'Dosis', sans-serif;
}

.poll-button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0px;
}

.poll-button-yes {
  background-color: #43a047;
}
.poll-button-maybe {
  border: 1px solid #e65100;
  background-color: #f57c00;
}
.poll-button-no {
  background-color: #f44336;
}
.poll-button-yes:hover {
  background-color: #4caf50;
}
.poll-button-no:hover {
  background-color: #ef5350;
}
.poll-button-maybe:hover {
  background-color: #fb8c00;
}
